{% extends 'layout.html.twig' %}

{% block title %}
    {% if app.user %}
    Accueil
    {% else %}
    Authentification
    {% endif %}
{% endblock %}

{% block content %}
{% if app.user %}
<h2 class="text-center"><b>Bienvenue dans l'application GALAXY SWISS BOURDIN</b> <br><br>
    Cliquez sur une Section pour y accéder</h2>
{% elseif error %}
<div class="alert alert-danger">
    <strong>Connexion échouée</strong> {{ error }}
</div>
 {% else %}
 <h2 class="text-center"><b>Bonjour <br><br> Veuillez vous identifier</h2>
{% endif %}

{% endblock %}